<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <div class="header_top">
      {{ page.header_top}}
    </div>
    <div class="header_middle">
      {{ page.header_middle }}
    </div>
    <nav class="header_bottom menu">
      {{ page.menu }}
    </nav>
  </header>

  <main class="main">
    <div class="content">
      {{ page.content }}
    </div>
    {% if page.sidebar %}
    <div class="sidebar">
    </div>
    {% endif %}
  </main>

  <footer>
    <div class="row">
      <div class="col">
        <img src="https://www.mynimo.com/files/company_logos/SUNSTAR%20LOGO-01_20180829061515_3.png" style="height: 30px; width: auto; background-color: #ffde16; padding: 10px; margin-top: -20px;">
      </div>
      <div class="col">
        <div class="footer-title">
          The Sunstar Channels
        </div>
        {{ page.footer_second }}
      </div>
      <div class="col">
        <div class="footer-title">
          The Company
        </div>
        {{ page.footer_third }}
      </div>
      <div class="col">
        <div class="footer-title">
          Subscribe
        </div>
        {{ page.footer_fourth }}
      </div>
      <div class="col">
        <div class="footer-title">
          Follow Us
        </div>
        {{ page.footer_fifth }}
      </div>
    </div>
    <div class="footer-row">
      <div class="footer-col">
        © Copyright 2023 SunStar Publishing Inc.
      </div>
      <div class="footer-col" style="float: right; text-align: right;">
        All Rights Reserved. Powered By NewsPress
      </div>
    </div>
  </footer>
</body>
</html>
